#journalHead, #formLabel {
    color: White;
}
  
#formButton {
    background-color: #AAD1C5;
    color: black;
}
  
#formButton:hover {
    background-color: #8cada3;
    color: black;
}
  
#formButton:disabled {
    background-color: #b1b1b1;
    color: black;
}
  
#entryCard {
    background-color: #5B9088;
    outline-style: solid;
    outline-color: white;
    outline-width: 0.5px;
}
  
#enterBody, #enterTitle {
    background-color: #E2E3E5;
}
  
#dateTag {
    background-color: #A29255!important;
    color: black;
}
  
body {
    background-color: #004643;
    color:#FFFFFF;
    font-family: 'Roboto';
}

#surveyPage {
    background-color: white;
}

footer {
    background-color: #F9BC60;
    color:black; 
    font-family: 'Roboto';
    padding: 0.5rem 1rem;
    position:relative;
}

nav {
    background-color: #F9BC60; 
}

main {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color:#F9BC60;
}

.home-page-content h2 {
    margin: 1rem 0rem;
}

.home-page-content .card-title {
    font-size: 20px; 
    font-weight: bold;
}

.home-page-content button{
    background-color: #F9BC60;
}

.home-page-content .card {
    background-color: rgba(171, 209, 198, 0.53);
    border-color: #ABD1C6;
}

.home-page-content .card-text {
    margin-bottom:1rem;
}

a.journal-button{
    margin-left:3rem;
    margin-right:3rem;
}

a.quiz-button{
    margin-left:3.5rem; 
}


/* NavLink {
    color:#FFFFFF;
} */

.feature-selection {
    padding-bottom: 1rem;
    margin:2rem;
}

.stats {
    background-color: #ABD1C6;
    margin:2rem 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color:black;
}

.about {
    margin-bottom: 2rem;
}

.btn {
    background-color:#F9BC60 ;
}

/* .home-page-content card a{
    justify-content: center;
} */

iframe {
    max-width: 100%;
}

.home-page-content img{
    max-width:100%;
}


.resources {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    margin-bottom: 30px;
}

.resources img{
    object-fit: cover;
}

.resources h1, .resources h2, .resources h3{
    margin-bottom: 20px;
}

.resources h2, .resources h3{
    color: white;
}

.resources h3, .resources h4 {
    font-size:20px;
}

.prompts {
    background-color: #ABD1C6 ;
    padding: 20px;
    margin-bottom: 20px;
} 

.prompts h2 {
    color: black;
}

.prompts p a,  .prompts h4 a, .prompts a {
    color: black;
}

.prompts p a:hover,  .prompts h4 a:hover, .prompts a:hover {
    color: #e16162;
}

@media (max-width:575px )
{

    .feature-selection {
        padding-bottom: 1rem;
    }

    .home-page-content .card {
        padding-bottom:1rem;
        margin-bottom:2rem;
    }
}

@media (min-width:576px) 
{
    .feature-selection {
        padding-bottom: 1rem;
    }

    .home-page-content .card {
        padding-bottom:1rem;
        margin-bottom:2rem;
    }

    /* a.journal-button{
        margin-left:6rem; 
    }
    
    a.quiz-button{
        margin-left:3.5rem; 
    } */
    
}

@media (min-width:1200px) {
    a.journal-button{
       margin-left: 230px;
   }
   
   a.quiz-button{
       margin-left:190px; 
   }  
}
